<!DOCTYPE html>
<html>
<head>
	<title>HW5</title>
</head>
<body>
	<h1>HW5</h1>
	<p>Brandon Hughes</p>
	<p>ITC 230</p>
	<p>08/09/2017</p>

	<h2>Searching <em>{{type}}</em> for: {{title}}</h2>
	<h4>{{result}}</h4>
	<a href="/delete"><button id='delete'>DELETE</button></a>
	<a href="/add"><button id='add'>ADD</button></a>




</body>
</html>