<!DOCTYPE html>
<html>
<head>
	<title>HW3</title>
</head>
<body>
	<h1>HW3</h1>
	<p>Brandon Hughes</p>
	<p>ITC 230</p>
	<p>07/17/2017</p>

<form method="POST" action="/search">
<table>
	<tr>
		<td>Search:</td>
		<select name="key">
    <option value="title">Title</option>
    <option value="artist">Artist</option>
    <option value="year">Year</option>
  </select>
		<td><input type="text" name="titleofrecord" placeholder="title (Revolver, Watermark, or Adventure)"></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><button>search</button></td>
	</tr>
</table>
</form>
<p>{{deleted}}</p>
<p>Records in database: {{length}}</p>
</body>
</html>