<!DOCTYPE html>
<html>
<head>
	<title>HW3</title>
</head>
<body>
	<h1>HW3</h1>
	<p>Brandon Hughes</p>
	<p>ITC 230</p>
	<p>07/17/2017</p>

	<h2>Searching <em>{{type}}</em> for: {{title}}</h2>
	<h4>{{result}}</h4>
	<a href="/delete"><button id='delete'>DELETE</button></a>




</body>
</html>